@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color-black: #2F2E41;
  /*******  Swipper Variables *******/
  --swiper-pagination-color: #FFFFFF;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 17px;
  --swiper-pagination-bullet-inactive-color: transparent;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 7px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
html {
  -webkit-font-smoothing: antialiased;
}

html,
  body {
  color: var(--text-color-black);
  background-color: #FFFFFF;
  scroll-behavior: smooth;
}

/******* Swiper customization *******/
.swiper-pagination {
  bottom: 64px !important;
}
.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width);
  height: var(--swiper-pagination-bullet-height);
  border: 1px solid #FFFFFF;
}

.swiper-pagination-bullet-active { /** Marker styling of selected image in carousel */
  width: 53px !important;
  height: 15px !important;
  border-radius: 5px !important;
}

@layer components {
  /*Button styles*/
  .btn {
    @apply inline-flex justify-center items-center border border-transparent transition-colors ease-in-out duration-[0.3s] focus:ring-offset-2 disabled:opacity-75 disabled:pointer-events-none rounded-full font-semibold;
  }

  .btn-lg {
    @apply px-[1.875rem] h-[2.5rem];
  }

  .btn-xl {
    @apply text-xl h-[2.8125rem] w-full max-w-[300px];
  }

  .btn-secondary {
    @apply bg-secondary text-white hover:bg-transparent border border-secondary hover:text-secondary;
  }

  .btn-secondary-outline {
    @apply bg-transparent text-secondary hover:bg-secondary hover:text-white border border-secondary;
  }


  /*Title*/
  .title {
    @apply font-semibold;
  }
  .title-primary {
    @apply text-primary;
  }

  .title-black {
    @apply text-black;
  }

  .title-2xl {
    @apply text-[1.56rem] xss:text-xl xs:text-2xl sm:text-2xl leading-relaxed;
  }

  .title-3xl {
    @apply text-3xl xss:text-xl xs:text-2xl sm:text-2xl;
  }
  .title-4xl {
    @apply text-[2.5rem] xss:text-2xl xs:text-3xl sm:text-3xl md:text-4xl lg:text-4xl leading-relaxed;
  }

 }


